* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    height: 50px;
    background-color: grey;
}

.menubar {
    width: 650px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.bodyarea {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 50px);
    padding: 20px;
}

.editor {
    display: flex;
    padding: 0 10 px;
}

.cell {
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0 0 0 5px;
}

.cell:hover {
    border: 1px gray solid;
}

.textColor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 230px;
}

.block {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}


.image-bg {
    width: 100px;
    height: 70px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.block>li,
.modal-body>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.modal-body>ul>li {
    list-style-type: none;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
}

.input-group .btn-file {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555
}

.input-group .custom-file-input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-file {
    width: 100%;
}

#codePreview {
    width: 80%;
    min-height: calc(100vh - 51px);
}

.container0 {
    display: block;
}

.container1 {
    display: none;
}